@{
}
@model CardEditModel

<div id="gridContainer">
    <h1>Edit Card</h1>
</div>

<div id="gridContainer">
@*    <div id="card-container">*@
@*        <div class="pb-2 gridFullRow"><button type="submit" class="btn btn-outline-success" id="showFormButton">Update Card</button></div>*@

<form id="showForm">
    <div class="form-group d-none">
            <input type="text" class="form-control" id="cardId" placeholder="Term" value="@Model.Card.CardID">
    </div>
    <div class="row pt-2 pb-2">
        <div class=" form-floating col-md-6">
            <input type="text" class="form-control" id="newTerm" placeholder="Term" value="@Model.Card.Term">
            <label for="newTerm" class="ms-3 ps-2">Term</label>
        </div>
        <div class="form-floating col-md-6">
            <select class="form-select" id="selectLevel">
                @if (@Model.Card.Level == 1)
                {
                    <option value="1" selected>Easy</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Advanced</option>
                }
                else if (@Model.Card.Level == 2)
                {
                    <option value="1">Easy</option>
                    <option value="2" selected>Intermediate</option>
                    <option value="3">Advanced</option>
                }
                else if (@Model.Card.Level == 3)
                {
                    <option value="1">Easy</option>
                    <option value="2">Intermediate</option>
                    <option value="3" selected>Advanced</option>
                }
            </select>
            <label for="selectLevel" class="form-label ms-3 ps-2">Difficulty Level:</label>
        </div>
    </div>
    <div class="form-floating pb-2">
        <select class="form-select" id="selectCategory">
            @foreach (var category in Model.Categories)
            {
                if (category.CategoryID == Model.Card.CategoryID)
                {
                    <option value="@category.CategoryID" selected>@category.CategoryName</option>
                }
                else
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            }
        </select>
        <label for="selectCategory" class="form-label">Category:</label>
       </div>
        <div class="form-group pb-2">
            <div class="form-floating">
                <textarea class="form-control" id="newDefinition" rows="3">@Model.Card.Definition</textarea>
                <label for="newDefinition">Definition</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile01">
            <label id="uploadButton" class="btn btn-outline-success" for="inputGroupFile01">Upload</label>
        </div>
        @if(Model.Card.ImagePath != null)
        {
            <img id="cardImage" src="@Model.Card.ImagePath"/>
        }
        else
        {
        <img id="cardImage" />
        }
   <div class="d-flex justify-content-between">
    <div class="pb-2"><button class="btn btn-outline-success" id="editButton">Update</button></div>
            <i id="trash" class="trash fa-regular fa-trash-can fa-2x"></i>
    </div>
    <div id="deleteCard" class="d-none">
        <h3>Are you sure you want to delete?</h3>
        <div class="d-flex justify-content-end">
            <i id="trashCancel" class="trash fa-sharp fa-solid fa-xmark fa-2x"></i>
            <i id="trashConfirm" class="trashCheck fa-sharp fa-solid fa-check fa-2x"></i>
        </div>
    </div>
</form>

@*    </div>*@
</div>

@section Scripts
    {
    <script src="/js/edit.js"></script>
}